.content-area{
	
	background:#d9d9d9;
	
}
.page-title{
	background:white;
	text-align:center;
	
}

.site-main>.post{
	
	background:white;
	margin:15px;
	padding:20px;
}
.entry-title>a{
	color:black;
	text-decoration:none;
}

/**************no resultados****************/
.no-results{
	background:white;
	height:300px;
	margin:15px;
padding-top:40px;
	
}

.no-results>.page-header>.page-title{
	font-size:30px;
	text-align:center;
}

.page-content>p{
	text-align:center;
	padding-bottom:30px;
}



/******************************/